*{
  box-sizing: border-box;
}

body{
  margin:0;
  font-family: 'Inter', sans-serif;
  background-color: #282d35;
  height: 100vh;
}

nav{
  display: flex;
  align-items: center;
  background-color: #12222A;
  padding:30px 25px;
}

.nav-logo_text, .nav-title{
  margin:0;
}

.nav-logo_text{
  margin-right: auto;
  color: #61dafb;
  font-weight: 700;
  font-size: 22px;
}

.nav-title{
  color: #61dafb;
}

.nav-logo{
  width: 30px;
  margin-right: 20px;
}

main{
  padding: 55px 27px;
  color: #fff;
}

.main--title{
  margin: 0;
  font-size: 39px;
  letter-spacing: -0.05em;
}

.main--facts{
  margin-top: 35px;
  max-width: 400px;
}

.main--facts > li{
  line-height: 19px;
  padding-block: 10px;
}

.main--facts > li::marker{
  font-size: 1.5rem;
  color: #61dafb;
}